* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin-top: 150px;
}
.container {
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 40px;
  background-color: rgb(64, 145, 145);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.quote-title h1 {
  font-size: 1.3rem;
  font-weight: 600;
}
.author {
  margin-top: 10px;
}
.quote-button button {
  width: 6.5rem;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: 600;
}
